# Environments
.env
.venv
venv/
ENV/
env.bak
venv.bak

# API Keys and Secrets
secrets.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Chroma DB
chroma_db/

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo
